<div class="jumbotron text-center">

  <div class="overlay">
  </div>

  <div class="background-image">
  </div>

  <div class="caption">
    <h1>BlockChain
    <br>
    News Scraper</h1>
    <p>CoinDesk Edition</p>
  
  </div>

</div>

<div class="container article-container">
</div>
